[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
aiohttp = "*"
appdirs = "*"
urllib3 = "*"
pyobjc-core = "*"
pyobjc-framework-cocoa = "*"
pyobjc-framework-quartz = "*"
pyqt5 = "*"

[requires]
python_version = "3.7"
