<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <true/>
  <key>Disabled</key>
  <false/>
  <key>Label</key>
  <string>co.elastic.logstash</string>
  <key>ProgramArguments</key>
  <array>
    <string>/private/var/flock-agent/opt/logstash-6.6.0/logstash</string>
    <string>-f /private/var/flock-agent/etc/logstash/logstash.conf</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>60</integer>
</dict>
</plist>
